nav {
  position: sticky ;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;

  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background-color: black;
  opacity: 0.8;
}

.leftSection {
  width: 100px;

  display: flex;
  align-items: center;

  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 25px;
  height: 80px;
}
.leftSection  .logo{
  height: 80px;
  width: 80px;
  border-radius: 50%;
  margin: 0 20px;
}
.rightSection {
  height: 70px;
  margin-right: 40px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  width: 800px;
  font-size: 25px;
}
a {
  color: white;
  text-decoration: none;
}
